.App .container {
  display: block;
  box-shadow: 1px 1px 15px #a1dffb;
  max-width: 550px;
  border: 1px solid whitesmoke;
  border-radius: 15px;
  margin-top: 25px;
  color: white;
  font-family: "Pangolin", cursive, "Texturina", serif, "Permanent Marker",
    cursive;
  font-weight: bolder;
}
