.CurrentTemperature .temperature {
  font-size: 100px;
  position: relative;
  top: -45px;
  margin: 0px 0px 30px 30px;
}

.CurrentTemperature .units {
  position: relative;
  top: -92px;
  font-size: 30px;
}
