body {
  background-image: url(https://www.teahub.io/photos/full/59-594097_dark-scenery-anime-backgrounds.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/*https://fsb.zobj.net/crop.php?r=3ST0GLlsg7lfoIrGlrmU6DYL-KBhgQ12jNm0c7k6snpBifh_wBPJCc1r34FdqsO6vB7ik7A3jFK2y30KIy841Bv0nl9rCGODdsv8XrXK-JKQGNF9JeKi-9vIQOdLI81es2jLnJkg9WaVcbSL*/
