body {
  background-image: url(https://www.teahub.io/photos/full/59-594097_dark-scenery-anime-backgrounds.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
