.Weather {
  font-size: 22px;
  margin: 10px auto;
  padding: 5px auto;
}

.Weather ul {
  margin: 0 auto;
  padding: 0 auto;
  font-size: 20px;
}

.Weather li {
  list-style: none;
}

.Weather .searchform {
  border-radius: 15px;
}

.Weather .searchButton {
  color: #00aeff;
  border-radius: 25px;
  background: transparent;
  transition: ease-in-out, 200ms, transparent;
}

.Weather .searchButton:hover {
  cursor: pointer;
  color: #a1dffb;
  background: transparent;
}
