.WeatherInfo {
  margin-top: 20px;
}

.WeatherInfo .location {
  text-align: center;
  font-size: 70px;
}

.WeatherInfo .CurrentDayWeather {
  margin-top: 20px;
}

.WeatherInfo .CurrentDayInfo {
  font-size: 50px;
  text-align: right;
}
