.Weather {
  font-size: 20px;
  margin: 10px auto;
}

.Weather ul {
  margin: 0 auto;
  padding: 0 auto;
}

.Weather li {
  list-style: none;
}

.Weather .searchform {
  border-radius: 15px;
  margin: 10px 0px 0px 60px;
}

.Weather .searchButton {
  padding: 9px 70px;
  margin: 10px 0px 0px 122px;
}

.Weather .currentButton {
  padding: 9px 25px;
  margin: 10px 0px 0px 17px;
}

.Weather .searchButton .currentButton {
  color: white;
  border-radius: 29px;
  background: transparent;
  transition: ease-in-out, 200ms, transparent;
}

.Weather .searchButton:hover {
  cursor: pointer;
  color: purple;
  background: transparent;
}

.Weather .currentButton:hover {
  cursor: pointer;
  color: purple;
  background: transparent;
}
