.WeatherInfo {
  margin: 65px 19px 0px 0px;
  display: flex;
  flex-direction: row;
}

.WeatherInfo .location {
  text-align: center;
  font-size: 83px;
}

.WeatherInfo .CurrentDayWeather {
  margin: -22px -55px 0px 45px;
}

.WeatherInfo .CurrentDayInfo {
  font-size: 34px;
  text-align: start;
  margin-top: 20px;
}

.WeatherInfo .formatteddate {
  text-align: start;
  margin: 13px 0px 0px -60px;
  padding: 0px auto;
  font-size: 37px;
}
