.Weather {
  font-size: 22px;
  margin: 10px auto;
  padding: 5px auto;
}

.Weather ul {
  margin: 0 auto;
  padding: 0 auto;
  font-size: 20px;
}

.Weather li {
  list-style: none;
}

.Weather .location {
  font-size: 48px;
  font-weight: bolder;
  text-transform: capitalize;
}
