.WeeklyForecast {
  text-align: center;
  font-size: 30px;
  margin-top: 65px;
}

.WeeklyForecast .maxmin {
  font-size: 21px;
}

.WeeklyForecast .row {
  display: flex;
  flex-direction: row;
}

@media screen {
  .WeeklyForecast .row {
    display: flex;
    flex-direction: column;
  }
}
