.WeeklyForecast {
  text-align: center;
  font-size: 30px;
  margin-top: 65px;
  box-shadow: 1px 1px 15px 3px #a1dffb;
}

.WeeklyForecast .maxmin {
  font-size: 21px;
}

.WeeklyForecast .row {
  display: flex;
  flex-direction: row;
}
